<%= simple_form_for @games_user,
                    html: {
                      class: "game form",
                      data: { turbo: false }
                    } do |f| %>  
  <% if @games_user.errors.any? %>
    <div class="error-message">
      <%= @games_user.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  
    <%= f.hidden_field :game_id, value: @games_user.game_id || params[:game_id] %>


    <% game_users = GamesUser.where(game_id: @games_user.game_id || params[:game_id]) %>
    <% taken_company_ids = game_users.pluck(:company_id).uniq %>
    <% available_companies = Company.where.not(id: taken_company_ids).where.not(name: 'Default') %>
    <%= f.collection_radio_buttons :company_id, available_companies, :id, :name %>
  
  <%= f.submit "Join", class: "btn btn--secondary" %>
<% end %>