<% if dealt == nil %>
<% dealt = Dealt.new(games_user_id: games_user_id) %>
<% end %>
<%= simple_form_for dealt,
                    html: {
                      class: "dealt form",
                      data: { turbo: true },
                    } do |f| %>  
  <% if dealt.errors.any? %>
    <div class="error-message">
      <%= dealt.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

    <%= f.hidden_field :games_user_id %>

    <% dealt_cards = Dealt.where(games_user: dealt.games_user_id).pluck(:card_id) %>
    <% available_cards = current_user.company.cards.where.not(id: dealt_cards) %>


    <% if Dealt.where(games_user: dealt.games_user_id).count < current_user.company.cards.count %>
      <%= f.hidden_field :card_id, value: available_cards.first.id %>
      <%= f.submit "Draw", class: "btn btn--secondary" %>
    <% else %>
      <button disabled class="bg-gray-300 text-gray-500 cursor-not-allowed px-5 py-2 rounded-md text-sm font-medium">
        Draw
      </button>
    <% end %>

<% end %>