<main class="container">
  <%= link_to sanitize("&larr; Back to home"), root_path %>
  <div class="header">
    <% if GamesUser.where(game: @game, user: current_user).count == 0 %>
      <h1>
        Game <%= @game.id %>
      </h1>

      <p>
        Current player count: <%= GamesUser.where(game: @game).count %>
        <% if GamesUser.where(game: @game).count < 4 %>
          <%= link_to "Join", new_games_user_path(game_id: @game.id), class: "btn btn--secondary" %>
          <p>
            Taken decks:
            <% Company.where(id: @game.games_users.pluck(:company_id)).each do |company| %>
              <span class="deck-taken"><%= company.name %></span>
            <% end %>
          </p>
        <% end %>
      </p>
    <% elsif GamesUser.where(game: @game, user: current_user).count == 1 && GamesUser.where(game: @game).count == 4%>
        <%= render "games/play" %>
        <%#WHY DOES IT RENDER PLAY FOR ACCOUNTS NOT IN THE GAME?%>
    <% end %>

  </div>
</main>