<%= turbo_frame_tag card do %>
   <%# max-w-xss %>
   <%# make cards smaller%>
  <div class="hover:scale-125 duration-100 w-[150px] h-full mx-1 bg-white border border-grey rounded-lg shadow dark:bg-white-800 dark:border-gray-700">
    <div class="image-center flex items-center justify-center">
      <div class="image">
          <%= image_tag card.image, alt: "Image Failed To Load", class: "rounded-t-lg mb-none", width: "100%", display: "inline-block" %>
      </div>
    </div>
      <div class="px-2 py-3">
          <div class="text-center mb-0">
              <h5 class=" mb-0 text-base font-bold tracking-tight text-gray-900 dark:text-black"><%=card.name%></h5>
          </div>
          <div class="h-fit px-2 py-0 text-center flex flex-col justify-center">
            <p class="mb-0 font-normal text-gray-700 dark:text-gray-700">
            <%if card.damage != 0%>
              Damage:<%=card.damage%>
              <br>
            <% end %>
            <%if card.shield != 0%>
              Shield:<%=card.shield%>
              <br>
            <% end %>
            <%if card.draw != 0%>
              Draw:<%=card.draw%>
              <br>
            <% end %>
            <%if card.play_again != 0%>
              Play Again:<%=card.play_again%>
              <br>
            <% end %>
            <%if card.heal != 0%>
              Heal:<%=card.heal%>
            <% end %>
            </p>
            <%# SHOW THE PLAY BUTTON ONLY IF IT IS YOUR TURN AND YOU HAVE NOT DRAWN A CARD%>
              <%# if GamesUser.find_by(user_id: current_user.id, game_id: current_user.game_id).is_current_turn? && Turn.joins(:games_user).where(games_users: { game_id: current_user.game_id }).last.games_user_id != current_user.id %>
                <%= turbo_frame_tag "play_card_frame" do %>
                  <a href="<%= new_turn_path(card_id: card.id) %>" class="inline-flex items-center px-9 py-2 text-xl font-medium text-center text-white bg-red-600 rounded-lg hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-800 dark:hover:bg-red-700 dark:focus:ring-red-900">
                    Play
                  </a>
                <% end %>
              <%# end %>
          </div>
      </div>
  </div>
<% end %>
